stock_and_paper_count/paper_company_panel.csv filter=lfs diff=lfs merge=lfs -text
stock_and_paper_count/stock_on_crsp.csv filter=lfs diff=lfs merge=lfs -text
stock_and_paper_count/crsp_all_classified_with_papers_detailed.csv filter=lfs diff=lfs merge=lfs -text
stock_and_paper_count/group_C_stocks.csv filter=lfs diff=lfs merge=lfs -text
stock_and_paper_count/*.csv filter=lfs diff=lfs merge=lfs -text
patent-data/out/ai_patents_detail.csv filter=lfs diff=lfs merge=lfs -text
